@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <br><br>
    <h1 class="display-4">Bienvenido a Tienda Virtual </h1>
    <br><br>
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Usuarios</h5>
                <p class="card-text">Todos los usuarios registrados en la tienda</p>
                <a href="/Usuario" class="btn btn-outline-primary">Ir a Usuarios</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Categorías</h5>
                <p class="card-text">Las categorías existentes dentro de la tienda</p>
                <a href="/Categoria" class="btn btn-outline-primary">Ir a Categorías</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Productos</h5>
                <p class="card-text">Todos los productos de la tienda</p>
                <a href="/Producto" class="btn btn-outline-primary">Ir a productos</a>
            </div>
        </div>
    </div>
</div>