@model List<TiendaVirtualValentina.Models.Usuario>

<h2>Lista de Usuarios</h2>

<a class="btn btn-success" href="/Usuario/Create"> Nuevo Usuario </a>
<br>
<br>
<table class="table table-stripes table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Celular</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Correo</td>
                <td>@item.Rol</td>
                <td>@item.Celular</td>

                <td>
                    @if (Context.Session.GetString("Rol") == "Administradoristrador")
                    {
                        <a class="btn btn-warning btn-sm" href="/Usuario/Edit/@item.Id">Editar</a>
                        <a class="btn btn-danger btn-sm" href="/Usuario/Delete/@item.Id">Eliminar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>